<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Data nasc:</strong>
  <%= @cliente.data_nasc %>
</p>

<p>
  <strong>Login:</strong>
  <%= @cliente.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @cliente.senha %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @cliente.logradouro %>
</p>

<p>
  <strong>Debito:</strong>
  <%= @cliente.debito %>
</p>

<p>
  <strong>Num logradouro:</strong>
  <%= @cliente.num_logradouro %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @cliente.uf %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @cliente.pais %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
