<%= form_with(model: agencium, local: true) do |form| %>
  <% if agencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agencium.errors.count, "error") %> prohibited this agencium from being saved:</h2>

      <ul>
      <% agencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_agencia %>
    <%= form.text_field :nome_agencia, id: :agencium_nome_agencia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
