<%= form_with(model: setor, local: true) do |form| %>
  <% if setor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setor.errors.count, "error") %> prohibited this setor from being saved:</h2>

      <ul>
      <% setor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<br>

<div class="header-filter" data-parallax="true" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" method="" action="">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">CADASTRO DE SETOR</h4>
            </div>
            <div class="card-body">
             <span class="bmd-form-group">
               <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">group</i>
                  </span>
                </div>
                <%= form.text_field :setor, id: :setor, class: 'form-control', placeholder: 'Setor' %>
              </div></span>
             </div>
          <div class="footer text-center actions">
            <%= form.submit "CADASTRAR SETOR", class: 'btn btn-primary btn-link btn-wd btn-lg' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
