<p id="notice"><%= notice %></p>

<h1>Setors</h1>

<table>
  <thead>
    <tr>
      <th>Setor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @setors.each do |setor| %>
      <tr>
        <td><%= setor.setor %></td>
        <td><%= link_to 'Show', setor %></td>
        <td><%= link_to 'Edit', edit_setor_path(setor) %></td>
        <td><%= link_to 'Destroy', setor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setor', new_setor_path %>
