<%= form_with(model: cargo, local: true) do |form| %>
  <% if cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cargo.errors.count, "error") %> prohibited this cargo from being saved:</h2>

      <ul>
      <% cargo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>

<div class="bg-form-color margin-form-all" id="form-cargo" data-parallax="true" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" method="" action="">
            <div class="card-header text-center">
              <h4 class="card-title">CADASTRO DE CARGO</h4>
            </div>
            <div class="card-body">
             <span class="bmd-form-group">
               <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">work</i>
                  </span>
                </div>
                <%= form.text_field :cargo, id: :cargo, class: 'form-control', placeholder: 'Cargo' %>
              </div></span>
             </div>
          <div class="footer text-center actions">
            <div style="padding-bottom: 25px; padding-top: 25px">
              <%= form.submit "CADASTRAR CARGO", class: 'btn btn-wd btn-lg' %>      
            <%= link_to "CANCELAR", root_path, class: 'btn btn-wd btn-warning btn-lg' %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
