<p id="notice"><%= notice %></p>

<h1>Dado Bancarios</h1>

<table>
  <thead>
    <tr>
      <th>Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dado_bancarios.each do |dado_bancario| %>
      <tr>
        <td><%= dado_bancario.conta %></td>
        <td><%= link_to 'Show', dado_bancario %></td>
        <td><%= link_to 'Edit', edit_dado_bancario_path(dado_bancario) %></td>
        <td><%= link_to 'Destroy', dado_bancario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dado Bancario', new_dado_bancario_path %>
