<div class="margin">
	<% if @orders.present? %>
	
	<div class="container">
		<% @orders.each_with_index do |order, indice| %>
		<h4 class="title"> Pedido: <%= indice + 1 %> </h4>
		<div class="card">
			<% order.items.each do |item_detail| %>
			<div class="row">
				<div class="col-md-3">
					<img style="width: 100%;" src="<%= item_detail.product.imagem %>" alt="Card image cap">
				</div>
				<div class="col-md-6">
					<p><h2 class="title"><%= item_detail.product.nome %></h2> </p>
					<p style="padding-top: 35px;"><h3 class="title cor-produto"> Preço: R$ <%= item_detail.product.preco %> </h3> </p>
					<p class="title"> Quantidade: <%=  item_detail.quantidade %> </p>
				</div>
				<div class="col-md-3 text-center">
					<p><h3 class="title" style="padding-top: 15px;">Valor total</h3> </p>
					<p><h3 class="title cor-produto" style="padding-top: 15px;"> R$ <%= item_detail.preco_final %> </h3></p>
					<p style="padding-top: 43px;" class="title">Desconto: 10% </p>
				</div>
			</div>
			<% end %>
		</div>
		<% end %>

		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<%= paginate @orders, views_prefix: 'template' %>
			</ul>
		</nav>
	</div>

	<% else %>
	
	<header>
		<h1 class="text-center">Você não tem pedidos</h1></header>
		<% end %>
	</div>