<div class="margin">
<% if @array_product.present? %>
<header><h1 class="text-center">Produtos no Carrinho</h1></header>
	<div class="container">
		<% @array_product.each do |item| %>
		<div class="card">
			<div class="row">
				<div class="col-md-3">
					<img style="width: 100%;" src="<%= item.imagem %>" alt="Card image cap">
				</div>
				<div class="col-md-6">
					<p><h2><%= item.nome %></h2></p>
					<p align="justify"><%= truncate(item.descricao, length: 525) %></p>
				</div>
				<div class="col-md-3">
					<div>
						<h5 class="title text-center">Quantidade: <%= session[:cart][item.id.to_s] %> </h5> 
					</div>
					<div class="pad-button text-center">
						<%= link_to 'Ver', show_product_path(item.slug), class: 'btn btn-info' %>
						<button type="button" class="btn btn-danger">Remover</button>	
					</div>
				</div>
			</div>
		</div>
		<% end %>

		<div class="margin-button">
			<%= link_to 'Confirmar Compra', root_path, class: 'btn btn-warning' %>		
		</div>
	</div>
</div>
<% else %>
	<header><h1 class="text-center">Não há produtos no Carrinho</h1></header>
<% end %>
</div>