<div class="row">
	<div class="col-md-12">
		<div class="img-preview" align="center">
			<%= image_tag @product.imagem %>
		</div> 

		<div class="row animate-box fadeInUp animated-fast">
			<div class="col-md-12 text-center fh5co-heading">
				<h2><%= @product.nome %></h2>
				<p>
					<%= link_to 'Adicionar ao Carrinho <i class="material-icons">shopping_cart</i>'.html_safe, carts_path(product_id: @product.id), method: :POST, class: 'btn btn-primary btn-outline btn-lg' %>
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="container">
	<div id="margin-nav-pills">
		<ul class="nav nav-pills nav-pills-rose ml-auto">
			<li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">Detalhes do Produto</a></li>
			<li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">Informações</a></li>
			<li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">Produtos Similares</a></li>
		</ul>
	</div>
	<div class="tab-content tab-space" id="margin-tab">
		<div class="tab-pane active" id="pill1">
			<div><h2 class="title"> <%= @product.nome %> </h2></div>
			<p> <%= @product.descricao %> </p>
			<div class="row">
				<div class="col-md-6">
					<h5 class="title">KEEP IT SIMPLE</h5>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
				<div class="col-md-6">
					<h5 class="title">LESS IS MORE</h5>
					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="pill2">
			Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
			<br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
		</div>
		<div class="tab-pane" id="pill3">
			Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
			<br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
		</div>
	</div>

</div>