<%= form_with(model: funcionario, local: true) do |form| %>
<% if funcionario.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>
  <ul>
    <% funcionario.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<br>



<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" method="" action="">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">CADASTRO DE FUNCIONÁRIO</h4>
            </div>
            <div class="card-body">
             <span class="bmd-form-group">
               <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">person</i>
                  </span>
                </div>
                <%= form.text_field :login, id: :funcionario_login, class: 'form-control', placeholder: 'Login' %>
              </div></span>


              <%= form.fields_for :emails do |email| %>
              <%= render 'email_fields', f: email %>
              <% end %>


              <div class="links">
                <%= link_to_add_association "Adicionar Email", form, :emails, class: "btn" %>
              </div>

              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>

                <%= form.password_field :senha, autocomplete: "current-password" , class: 'form-control', placeholder: 'Senha...'%>
              </div></span>

              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">accessibility</i>
                  </span>
                </div>
                <%= form.text_field :nome, id: :funcionario_nome, class: 'form-control', placeholder: 'Nome do Funcionario' %>
              </div></span>


              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">money</i>
                  </span>
                </div>
                <%= form.number_field :salario, id: :funcionario_salario, class: 'form-control', placeholder: 'Salario do Funcionario' %>
              </div></span>

              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">

                    <i class="material-icons">date_range</i>

                  </span>
                </div>
                <%= form.text_field :data_nasc, id: :func_data_nasc, class: 'form-control datetimepicker', placeholder: 'Data de Nascimento' %>
              </div></span>

              <span class="bmd-form-group"><div class="input-group">

              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">navigation</i>
                  </span>
                </div>
                <%= form.text_field :logradouro, id: :funcionario_logradouro, class: 'form-control', placeholder: 'LOGRADOURO' %>

                <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">filter_9</i>
                </span>
              </div>

              <%= form.text_field :num_logradouro, id: :funcionario_logradouro_num, class: 'form-control', placeholder: 'NUMERO LOGRADOURO' %>
                
                
              </div></span>


              <span class="bmd-form-group"><div class="input-group">

               <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">location_city</i>
                </span>
              </div>

              <%= form.text_field :cidade, id: :funcionario_cidade, class: 'form-control', placeholder: 'CIDADE' %>

              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">home</i>
                </span>
              </div>
              
              <%= form.text_field :bairro, id: :funcionario_bairro, class: 'form-control', placeholder: 'BAIRRO' %>
              
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">my_location</i>
                  </span>
                </div>
                <%= form.text_field :cep, id: :funcionario_cep, class: 'form-control', placeholder: 'CEP' %>

            </div></span>

             <span class="bmd-form-group"><div class="input-group">

              <div class="input-group-prepend">

                <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">location_on</i>
                </span>
              </div>

              <%= form.text_field :pais, id: :funcionario_logradouro_num, class: 'form-control', placeholder: 'País' %>
                
                  <span class="input-group-text">
                    <i class="material-icons">location_on</i>
                  </span>
                </div>
                <%= form.text_field :uf, id: :pais, class: 'form-control', placeholder: 'ESTADO' %>

                
              </div></span>

              <span class="bmd-form-group">
              <div class="input-group">

              <div class="input-group-prepend">
              
                <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">portrait</i>
               </span>

               <span class="input-group-text">
               Cargo
               </span>
               </div>

                <%= form.collection_select(:cargos, Cargo.order(:id), :id, :cargo, {include_blank: false}, {:class => 'form-control selectpicker'}) %>
              </div>
                
                  <span class="input-group-text">
                    <i class="material-icons">location_on</i>
                  </span>
                </div>
                <%= form.text_field :uf, id: :pais, class: 'form-control', placeholder: 'ESTADO' %>

                
              </div>

              </span>
          </div>
          <div class="footer text-center actions">
            <%= form.submit "ENTRAR", class: 'btn btn-primary btn-link btn-wd btn-lg' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<div class="field">
</div>

<div class="field">
  <%= form.label :nome %>
  <%= form.text_field :nome, id: :funcionario_nome %>
</div>

<div class="field">
  <%= form.label :salario %>
  <%= form.text_field :salario, id: :funcionario_salario %>
</div>

<div class="field">
  <%= form.label :data_nasc %>
  <%= form.date_select :data_nasc, id: :funcionario_data_nasc %>
</div>

<div class="field">
  <%= form.label :login %>
  <%= form.text_field :login, id: :funcionario_login %>
</div>

<div class="field">
  <%= form.label :senha %>
  <%= form.text_field :senha, id: :funcionario_senha %>
</div>

<div class="field">
  <%= form.label :cep %>
  <%= form.number_field :cep, id: :funcionario_cep %>
</div>

<div class="field">
  <%= form.label :logradouro %>
  <%= form.text_field :logradouro, id: :funcionario_logradouro %>
</div>

<div class="field">
  <%= form.label :num_logradouro %>
  <%= form.number_field :num_logradouro, id: :funcionario_num_logradouro %>
</div>

<div class="field">
  <%= form.label :bairro %>
  <%= form.text_field :bairro, id: :funcionario_bairro %>
</div>

<div class="field">
  <%= form.label :cidade %>
  <%= form.text_field :cidade, id: :funcionario_cidade %>
</div>

<div class="field">
  <%= form.label :uf %>
  <%= form.text_field :uf, id: :funcionario_uf %>
</div>

<div class="field">
  <%= form.label :pais %>
  <%= form.text_field :pais, id: :funcionario_pais %>
</div>

<div class="field">
  <%= form.label :cargo %>
  <%= form.collection_select :cargos, Cargo.order(:id), :id, :cargo, class: 'browser-default'%>
</div>

<div class="field">
  <%= form.label :setor %>
  <%= form.collection_select :setors, Setor.order(:id), :id, :setor, class: 'browser-default'%>
</div>

<h4> Email </h4>

<div id="emails">
  <%= form.fields_for :emails do |email| %>
      <!-- COMENTÁRIO:
        é uma exigencia também que os campos do seu nested esteja numa partial "nome_do_seu_nested_no_singular_fields"
        no nosso caso _experience_fields.html.erb
      -->
      <%= render 'email_fields', f: email %>
      <% end %>

    <!-- COMENTÁRIO:
      O link para adicionar dinamicamente os fields deve estar dentro de uma div .links
    -->
    <div class="links">
      <!-- COMENTÁRIO: O link_to_add_association é um helper provido pela gem -->
      <%= link_to_add_association 'adicionar email', form, :emails %>
      <br><br>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
