<%= form_with(model: funcionario, local: true) do |form| %>
<% if funcionario.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>
  <ul>
    <% funcionario.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<br>

<div class="header-filter" data-parallax="true" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" method="" action="">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">CADASTRO DE FUNCIONÁRIO</h4>
            </div>
            <div class="card-body">
             <span class="bmd-form-group">
               <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">person</i>
                  </span>
                </div>
                <%= form.text_field :login, id: :funcionario_login, class: 'form-control', placeholder: 'Login' %>
              </div></span>

              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>

                <%= form.password_field :password, autocomplete: "current-password" , class: 'form-control', placeholder: 'Senha...'%>
              </div></span>


              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>

                <%= form.password_field :password_confirmation, autocomplete: "current-password" , class: 'form-control', placeholder: 'Confime sua senha...'%>
              </div></span>

              <span class="bmd-form-group">
               <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">mail</i>
                  </span>
                </div>
                <%= form.text_field :email, id: :funcionario_login, class: 'form-control', placeholder: 'Email' %>
              </div></span>


              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">accessibility</i>
                  </span>
                </div>
                <%= form.text_field :nome, id: :funcionario_nome, class: 'form-control', placeholder: 'Nome do Funcionario' %>
              </div></span>


              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">money</i>
                  </span>
                </div>
                <%= form.number_field :salario, id: :funcionario_salario, class: 'form-control', placeholder: 'Salario do Funcionario' %>
              </div></span>

              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">

                    <i class="material-icons">date_range</i>

                  </span>
                </div>
                <%= form.text_field :data_nasc, id: :func_data_nasc, class: 'form-control datetimepicker', placeholder: 'Data de Nascimento' %>
              </div></span>

              <span class="bmd-form-group"><div class="input-group">

              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">navigation</i>
                  </span>
                </div>
                <%= form.text_field :logradouro, id: :funcionario_logradouro, class: 'form-control', placeholder: 'LOGRADOURO' %>

                <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">filter_9</i>
                </span>
              </div>

              <%= form.text_field :num_logradouro, id: :funcionario_logradouro_num, class: 'form-control', placeholder: 'NUMERO LOGRADOURO' %>
                
                
              </div></span>


              <span class="bmd-form-group"><div class="input-group">

               <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">location_city</i>
                </span>
              </div>

              <%= form.text_field :cidade, id: :funcionario_cidade, class: 'form-control', placeholder: 'CIDADE' %>

              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">home</i>
                </span>
              </div>
              
              <%= form.text_field :bairro, id: :funcionario_bairro, class: 'form-control', placeholder: 'BAIRRO' %>
              
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">my_location</i>
                  </span>
                </div>
                <%= form.text_field :cep, id: :funcionario_cep, class: 'form-control', placeholder: 'CEP' %>

            </div></span>

             <span class="bmd-form-group"><div class="input-group">

              <div class="input-group-prepend">

                <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">public</i>
                </span>
              </div>

              <%= form.text_field :pais, id: :funcionario_logradouro_num, class: 'form-control', placeholder: 'País' %>
                  <span class="input-group-text">
                    <i class="material-icons">location_on</i>
                  </span>
                </div>
                <%= form.text_field :uf, id: :pais, class: 'form-control', placeholder: 'ESTADO' %>
              </div></span>


              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">work</i>

                  </span>

                  <span class="input-group-text">
                    Cargo:
                  </span>

                </div> <%= form.collection_select(:cargos, Cargo.order(:id), :id, :cargo, {include_blank: false}, {:class => 'form-control selectpicker'}) %>
              </div></span>

              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">group</i>

                  </span>

                  <span class="input-group-text">
                    Setor:
                  </span>

                </div> <%= form.collection_select(:setors, Setor.order(:id), :id, :setor, {include_blank: false}, {:class => 'form-control selectpicker'}) %>
              </div></span>
              
              

              <%= form.fields_for :telefones do |telefone| %>
                <%= render 'telefone_fields', f: telefone %>
              <% end %>

              <div class="links">
                <%= link_to_add_association "Adicionar Telefone", form, :telefones, class: "btn" %>
              </div>


          </div>
          <div class="footer text-center actions">
            <%= form.submit "CADASTRAR FUNCIONARIO", class: 'btn btn-primary btn-link btn-wd btn-lg' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

  <% end %>
