<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @funcionario.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @funcionario.salario %>
</p>

<p>
  <strong>Data nasc:</strong>
  <%= @funcionario.data_nasc %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @funcionario.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @funcionario.logradouro %>
</p>

<p>
  <strong>Num logradouro:</strong>
  <%= @funcionario.num_logradouro %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @funcionario.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @funcionario.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @funcionario.uf %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @funcionario.pais %>
</p>

<p>
  <strong>Cargo:</strong>
  <% @funcionario.cargos.each do |cargo| %>
    <%= cargo.cargo %>
  <% end %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
