
<nav class="navbar fixed-top navbar-expand-lg"  color-on-scroll="100" ">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">
        <div class="logo-big">
          <img src="https://res.cloudinary.com/hasashisama/image/upload/v1542219964/logo5.png" class="img-fluid">
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Lace and Leather</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if not user_signed_in? %>
        <li class="nav-item">
          <a href="/clientes/new" class="nav-link">
            <i class="material-icons">input</i> CADASTRE-SE (CLIENTE)
          </a>
        </li>
        <li class="nav-item">
          <a href="/users/sign_in" class="nav-link">
            <i class="material-icons">person</i> ENTRAR
          </a>
        </li>

        <li class="nav-item">
            <%= link_to '<i class="material-icons pad-inside-icon">shopping_cart</i>'.html_safe + produtos_carrinho, show_cart_path, class: 'nav-link icon' %>
        </li>

        <% elsif current_user.cliente_id.present? %>
          
        <li class="nav-item">
            <%= link_to '<i class="material-icons pad-inside-icon">shopping_cart</i>'.html_safe + produtos_carrinho, show_cart_path, class: 'nav-link icon' %>
        </li>

          <li class="nav-item">
              <%= link_to '<i class="material-icons">shopping_basket</i> Pedidos'.html_safe, orders_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to '<i class="material-icons">rotate_left</i> Sair'.html_safe, destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastros
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if current_user.is_admin? %>        
                  <%= link_to '<i class="material-icons">person</i> Cadastrar Funcionário'.html_safe, new_funcionario_path, class: 'dropdown-item' %>    
                  <%= link_to '<i class="material-icons">work</i> Cadastrar Cargo'.html_safe, new_cargo_path, class: 'dropdown-item' %>
                  <%= link_to '<i class="material-icons">group</i> Cadastrar Setor'.html_safe, new_setor_path, class: 'dropdown-item' %>
                  <%= link_to '<i class="material-icons">store</i> Cadastrar Produto'.html_safe, new_product_path, class: 'dropdown-item' %>
                  <%= link_to '<i class="material-icons">airport_shuttle</i> Cadastrar Fornecedor'.html_safe, new_product_path, class: 'dropdown-item' %>          
              <% end %>

              <% if manipular_funcionario? %>
                <%= link_to '<i class="material-icons">person</i> Cadastrar Funcionário'.html_safe, new_funcionario_path, class: 'dropdown-item' %>
              <% end %>

              <% if manipular_cliente? %>
                  <%= link_to '<i class="material-icons">person</i> Cadastrar Cliente'.html_safe, new_cliente_path, class: 'dropdown-item' %>
              <% end %>

              <% if manipular_produto? %>
                  <%= link_to '<i class="material-icons">store</i> Cadastrar Produto'.html_safe, new_product_path, class: 'dropdown-item' %>
              <% end %>
              </div>
          </li>

          <% if current_user.is_admin? %> 
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to '<i class="material-icons">attach_money</i> Contas Receber'.html_safe, receive_bills_path, class: 'dropdown-item' %>
              <%= link_to '<i class="material-icons">money_off</i> Contas Pagar'.html_safe, pay_bills_path, class: 'dropdown-item' %>
            </div>
           </li>

           <li class="nav-item">
              <%= link_to '<i class="material-icons">bar_chart</i> Dashboard'.html_safe, rails_admin_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
              <%= link_to '<i class="material-icons">store</i> Estoque'.html_safe, rails_admin_path, class: 'nav-link' %>
          </li>
          <% end %>

          <li class="nav-item">
            <%= link_to '<i class="material-icons">rotate_left</i> Sair'.html_safe, destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>