<!DOCTYPE html>
<html>
<head>
	<title>The greatest shoes you ever seen</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<%= favicon_link_tag 'logo3.png' %>

	<%= csrf_meta_tags %>

	
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	 <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="background-home" id="page">
	<%= render 'layouts/navbar' %>
	<div class="margin-nav">		
		<%= yield %>	
	</div>
	
	<script type="text/javascript">
		$('.datetimepicker').datetimepicker({
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-chevron-up",
				down: "fa fa-chevron-down",
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-screenshot',
				clear: 'fa fa-trash',
				close: 'fa fa-remove'
			}
		});
	</script>
</body>
</html>
